body,dl,dt,dd,ul,li,a,div,h1,h2,h3,h4,h5,h6,ol,b,i,u,del,sub,sup {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	border: 0;
}

* {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}